@media only screen and (min-width:768px){
body{
   zoom: 1;
    background-image: url("images/zbg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
sidebar,.tx,#lala{
    background: rgba(255,255,255,0.8);
}
.header,article code,.main {    background-color: rgba(255, 255, 255, 0);
}
article {
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0);
}

.post {
    border: 1px solid rgba(0,0,0,.12);
     background: rgba(255,255,255,0.8);
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
article pre {
    background-color: rgba(255, 255, 255, 0);}
.btn--one,.btn--one:hover {
   border: 1px solid rgba(255,255,255,.12);
     background: rgba(255,255,255,0.8);
}
.header {
    border: 1px solid  rgba(255,255,255,0.8);   background-color:  rgba(255,255,255,0.8);
}
sidebar {
        border-right: 1px solid rgba(255, 255, 255, 0);
}
.footer{
    border: 1px solid rgba(255,255,255,.12);
     background: rgba(255,255,255,0.8);
    padding: 5px;
    border-radius: 5px;
    margin:20px 20px 0 20px
}
.hljs {
    background: rgba(255, 255, 255, 0.8);
}
.page-right {
    color: #FFF;
}
.post-left,.post-right,.page-right {
    color: #000;
}
.header h1 a,.btn--one,sidebar .tx span {
    color: #464545;}
.header .sjcd:before,.header .sjcd i, .header .sjcd:after{background-color:#000;}
/*原生评论部分*/
#comments {
    background: rgba(255, 255, 255, 0.79);
    padding: 15px;    border-radius: 5px;
}
.comment-list li {
    background: rgba(255, 255, 255, 0);
}
.comment-main {
    background-color: rgba(255, 255, 255, 0.88);
}

#bottom-bar{
    background-color: rgba(255, 255, 255, 0.5);
}

}